/* Body */
body {
background-color: #F9F9F9;
color: #333;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
line-height: 1.6;
padding: 1em;
}


/* Headers */
h1, h2, h3 {
color: #1E90FF;
}


/* Blockquote */
blockquote {
border-left: 4px solid #1E90FF;
background-color: #E6F0FF;
padding: 0.5em 1em;
margin: 1em 0;
}


/* Links */
a {
color: #1E90FF;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}


/* Code block */
pre, code {
background-color: #E6F0FF;
padding: 0.2em 0.4em;
border-radius: 4px;
font-family: Menlo, Monaco, Consolas, monospace;
}
